// ---------------------------      Colors   ----------------------------------
$color-black : #000;
$color-dark : #262626;
$color-primary : #141E46;
$color-secondary : #C70039;
$color-tertiary : #FF6969;
$color-light : #f3e7d1;
//----------------------------------  Fonts  ----------------------------------
$font-dancingScript : "Dancing Script", cursive;
$font-josefinSans : "josefin Sans", sans-serif;
$font-nunito : "Nunito", sans-serif;
$font-Behdad : "Behdad";