*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #111111;
}

h1#header{
    color: red;
    margin: 40px;
}

h2#subheader{
    color: yellow;
}