@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Vina+Sans&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
font-family: 'Vina Sans', sans-serif; 
*/

@property --darkColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #181818;
}
@property --primeryColor {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(197, 19, 75);
}
@property --seconderyColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #aa9898;
}
@property --lightColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #e8d8c3;
}





@keyframes divergent_height_nav_1{
    0%{
        opacity: 1;
    }1%{
        height: 0%;
    }100%{
        height: 100%;
    }
}
@keyframes converge_height_nav_1{
    0%{
        height: 100%;
    }99%{
        height: 0;
    }100%{
        opacity: 0;
    }
    
}






@keyframes divergent_height_nav_2{
    from{
        height: 0;
    }to{
        height: 50vh;
    }
}
@keyframes converge_height_nav_2{
    from{
        height: 50vh;
    }to{
        height: 0;
    }
}







@keyframes opacity_to_one {

    to{
        opacity: 1;
    }
}
@keyframes opacity_to_ziro {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


@keyframes background_blur {
    to {
        background-color: rgba(0, 0, 0, 0.386);
    }
}
@keyframes background_blur_reverse {
    from{
        background-color: rgba(0, 0, 0, 0.386);
    }
    to {
        background-color: transparent;
    }
}








@keyframes borderBottomLeftRadius{
    to{
        border-bottom-left-radius: 10px;
    }
}
@keyframes borderBottomLeftRadius_reverse{
    to{
        border-bottom-left-radius: 0;
    }
}







*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


a{
    text-decoration: none;
    color: var(--lightColor);
}







body{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--darkColor);
    color: var(--lightColor);
    overflow-x: hidden;
}



#mainPage{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
}


#mainPage_header{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: var(--lightColor);

}


#mainPage_navTop{
    display: flex;
    width: 100%;
    height: 4.6vh;
    background-color: var(--darkColor);
}





#mainPage_navbar{
    /* position: absolute; */
    /* top: 200px; */
    /* position: fixed; */
    display: flex;
    align-items: end;
    width: 120%;
    height: 6vh;
    background-color: var(--darkColor);
    margin-left: -2vw;
    z-index: 1000;
}

#mainPage_navbar_itams{
    position: relative;
    width: 30%;
    height: 90%;

}



#mainPage_navbar_background_1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#mainPage_navbar_background_1_top{
    background-color: var(--darkColor);
    width: 100%;
    height: 50%;
    z-index: 10;
}
#mainPage_navbar_background_1_bottom{
    background-color: var(--lightColor);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 50%;
    z-index: 10;
}







#mainPage_nav_ul{
    position: absolute;
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
}

.mainPage_nav_li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    width: 6.5vw;
    height: 90%;
}


.mainPage_nav_li_backPrimery{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkColor);
    z-index: 11;
}
.mainPage_nav_li_backSecondery{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: var(--lightColor);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 12;
}




.mainPage_nav_li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 13;
}

.mainPage_nav_li_a_around{
    cursor:unset;
}


.mainPage_nav_li_a_main_hover{
    font-weight: 500;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: var(--darkColor);
    transition: background-color 200ms, color  200ms;
    z-index: 2;
}


.mainPage_nav_li_details{
    position: absolute;
    display: none;
    width: 250px;
    height: 350px;
    background-color:rgba(232, 216, 195, 0.095);
    backdrop-filter: blur(8px);
    border-right: var(--darkColor) solid 1px;
    border-bottom: var(--darkColor) solid 1px;
    border-left: var(--darkColor) solid 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    box-shadow: 3px 3px 3pX rgba(0, 0, 0, 0.427) , -3px 0px 3pX rgba(0, 0, 0, 0.427);
    opacity: 0;
}

#mainPage_nav_li_details_products{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    top: 3.5vh;
    left: -.03vw;
    overflow: hidden;
}

.mainPage_nav_li_details_products_items{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}


.mainPage_nav_li_details_products_logo{
    width: 50px;
    height: 50px;
    margin-right: 8vw;
}





.mainPage_nav_li_details_products_a{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    color: var(--darkColor);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    z-index: 1;
    padding-left: 5vw;
}

.mainPage_nav_li_details_products_a:hover{
    background-color: rgba(0, 0, 0, 0.214) !important;
    /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12),0px -1px 6px rgba(255, 255, 255, 0.07) inset,
                0px -1px 6px rgba(0, 0, 0, 0.12),0px 1px 6px rgba(255, 255, 255, 0.07) inset; */
}

.mainPage_nav_li_details_products_separator{
    position: absolute;
    width: 85%;
    height: 100%;
    border-bottom: var(--darkColor) solid 1px;
}




#mainPage_nav_li_details_gallery{
    top: 3.5vh;
    left: -.03vw;

}

#mainPage_nav_li_details_articles{
    top: 3.5vh;
    left: -.04vw;

}

#mainPage_nav_li_details_aboutus{
    top: 3.5vh;
    left: -.03vw;

}

#mainPage_nav_li_details_callus{
    top: 3.5vh;
    left: -.03vw;

}












#mainPage_banner{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--darkColor);

}


#mainPage_banner_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: var(--primeryColor);
    
}

#mainPage_banner_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 100%;
    background-color: var(--primeryColor);
    z-index: 100;

}


#mainPage_banner_details_navbar_item{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    opacity: 0;

}



.details_navbar_items{
    position: absolute;
    width: 100%;
    height: 100%;
}






#website_mainlogo{
    width: 220px;
    height: 130px;
    margin-right: 2vw;
    margin-bottom: 1vh;
}
#website_mainlogo:hover{
    width: 210px;
    height: 120px;
    transition: all 100ms;
}





#mainPage_banner_left_header{
    text-align: center;
    cursor: pointer;
    margin-left: 3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 55px;
    border-bottom: var(--darkColor) solid 3px;
    border-top: var(--darkColor) solid 3px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40vw;
}


#mainPage_banner_left_subheader_1{
    margin-top: 1vh;
    margin-left: 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
#mainPage_banner_left_subheader_2{
    margin-left: 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}




/* *-----------------------------------------  Main  -------------------------------------------------- */


#mainPage_main{
    display: flex;
    width: 100%;
}


#mainPage_main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: var(--lightColor);
    font-size: 50px;
}


#mainPage_main_sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 1000px;
    background-color: var(--darkColor);
    font-size: 40px;
    color: var(--lightColor);
}


#mainPage_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22%;
    font-size: 40px;
}



