
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $color-dark;
    font-family: 'Roboto', sans-serif;

    #mainPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;

        #header{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;


            #banner{
                //    *** Init In Its Own File ***
            }




        }


    }


}