// ---------------------------      Home Appliances   ----------------------------------
$color-black : #000;
$color-dark : #181818;
$color-primary : rgb(121, 13, 45);
$color-secondary : rgb(197, 19, 75);
$color-light : #e8d8c3;
$color-white : white;