@font-face {
    font-family: 'Behdad';
    src:url('//cdn.font-store.ir/fonts/behdad/Behdad-Regular.woff2') format('woff2'),
    url('//cdn.font-store.ir/fonts/behdad/Behdad-Regular.woff') format('woff'),
    url('//cdn.font-store.ir/fonts/behdad/Behdad-Regular.ttf') format('truetype'),
	url('//cdn.font-store.ir/fonts/behdad/Behdad-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');