@import "ColorPalettes";

@keyframes fullScreen {
    to{
        width: 6000px;
        height: 6000px;
    }
}


@keyframes magnifierFont {          // بزرگ کننده اندازه فونت
    to{
        font-size: 45px;
    }
}

@keyframes shrinkerFont {          // کوچک کننده اندازه فونت
    to{
        font-size: 20px;
    }
}


@keyframes opacity_to_one {

    to{
        opacity: 1;
    }
}
@keyframes opacity_to_zero {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}




@keyframes open-sidebar-icon {
    to{
        border-radius:100% 100% 0 0;
    }
}
@keyframes close-sidebar-icon {
    from{
        border-radius:100% 100% 0 0;
    }
    to{
        border-radius: 100%;
    }
}


@keyframes open-sidebar-Cont {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        width: 95vw;
        height: 84.6dvh;
    }
}
@keyframes close-sidebar-Cont {
    0%{
        width: 95vw;
        height: 85dvh;
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        width: 0;
        height: 0;
        opacity: 0;
    }
}



@keyframes radius-to-60 {
    to{
        border-radius:  0 0 60% 0;
    }
}
@keyframes radius-to-zero {
    from{
        border-radius:  0 0 60% 0;
    }
    to{
        border-radius: 0;
    }
}





@keyframes magnifier-website-logo {              // بزرگ کردن و تغییر جایگاه لوگو
    to{
        top: 5vh;
        left: 8vw;
        width: 13vh;
        height: 13vh;
    }
}
@keyframes shrinker-website-logo {               // کوچک کردن و تغییر جایگاه لوگو
    from{
        top: 5vh;
        left: 8vw;
        width: 13vh;
        height: 13vh;
    }
    to{
        top: .7vh;
        left: 47vw;
        width: 5dvh;
        height: 5dvh;
    }
}





