@keyframes fullScreen {
    to{
        width: 6000px;
        height: 6000px;
    }
}


@keyframes magnifierFont {          // بزرگ کننده اندازه فونت
    to{
        font-size: 45px;
    }
}

@keyframes shrinkerFont {          // کوچک کننده اندازه فونت
    to{
        font-size: 20px;
    }
}


@keyframes opacity_to_one {

    to{
        opacity: 1;
    }
}
@keyframes opacity_to_ziro {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}



@keyframes margin-bottom-pip---0 {
    to{
        margin-bottom: -2px;
    }
}
@keyframes margin-bottom-pip---4px {
    from{
        margin-bottom: 0;
    }
    to{
        margin-bottom: 4px;
    }
}


@keyframes margin-top-pip---0 {
    to{
        margin-top: -1px;
    }
}
@keyframes margin-top-pip---4px {
    from{
        margin-top: 0;
    }
    to{
        margin-top: 4px;
    }
}