//  ******  global files  ******
@import "ResetStyles";
@import "Fonts";
@import "ColorPalettes";
@import "KeyFrames";
@import "Mixins";
//  ******   mainPage   files  ******
@import "../mainPage/topNavbar";                       //  نوارپیمایش بالایی سایت
@import "../mainPage/banner";                          //  بنر سایت
@import "../mainPage/products_categori";               //  دسته بندی محصولات
@import "../mainPage/amazing_offer";                   //  پیشنهاد شگفت انگیز
@import "../mainPage/best_selling";                    //  پرفروش ترین ها
@import "../mainPage/articles";                        //  مقالات
@import "../mainPage/mainFooter";                      //  پاورقی سایت
@import "../mainPage/bottomNavbar";                    //  نوارپیمایشی پایینی سایت
// -----------------------------------------------------------------------

body{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: bisque;
    
    //---------------
    .mainPage{
        
        
        
        
        //-----------------
        .header{
        
        
        }
        .content{
        
        
        }
        .footer{
        
        
        }
    }

}

