@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Vina+Sans&display=swap");
* {
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Behdad";
  src: url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.woff2") format("woff2"), url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.woff") format("woff"), url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.ttf") format("truetype"), url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/*
font-family: 'Roboto', sans-serif;
font-family: 'Vina Sans', sans-serif;
*/
@keyframes fullScreen {
  to {
    width: 6000px;
    height: 6000px;
  }
}
@keyframes magnifierFont {
  to {
    font-size: 45px;
  }
}
@keyframes shrinkerFont {
  to {
    font-size: 20px;
  }
}
@keyframes opacity_to_one {
  to {
    opacity: 1;
  }
}
@keyframes opacity_to_zero {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes open-sidebar-icon {
  to {
    border-radius: 100% 100% 0 0;
  }
}
@keyframes close-sidebar-icon {
  from {
    border-radius: 100% 100% 0 0;
  }
  to {
    border-radius: 100%;
  }
}
@keyframes open-sidebar-Cont {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 95vw;
    height: 84.6dvh;
  }
}
@keyframes close-sidebar-Cont {
  0% {
    width: 95vw;
    height: 85dvh;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@keyframes radius-to-60 {
  to {
    border-radius: 0 0 60% 0;
  }
}
@keyframes radius-to-zero {
  from {
    border-radius: 0 0 60% 0;
  }
  to {
    border-radius: 0;
  }
}
@keyframes magnifier-website-logo {
  to {
    top: 5vh;
    left: 8vw;
    width: 13vh;
    height: 13vh;
  }
}
@keyframes shrinker-website-logo {
  from {
    top: 5vh;
    left: 8vw;
    width: 13vh;
    height: 13vh;
  }
  to {
    top: 0.7vh;
    left: 47vw;
    width: 5dvh;
    height: 5dvh;
  }
}
.mainPage .topNavbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7.5dvh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 1%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
}
.mainPage .topNavbar div.profile { /*  Initialized in its Own File  */ }
.mainPage .topNavbar a.websiteLogo {
  position: absolute;
  top: 0.7vh;
  left: 47vw;
  width: 5dvh;
  height: 5dvh;
  border-radius: 100px;
  overflow: hidden;
  z-index: 1;
}
.mainPage .topNavbar a.websiteLogo img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.mainPage .topNavbar div.sidebarMainCont { /*  Initialized in its Own File  */ }

.mainPage .sidebarMainCont {
  width: 9.6vh;
  height: 4.8vh;
  direction: rtl;
  margin-top: 1vh;
  margin-right: 1.7vw;
}
.mainPage .sidebarMainCont div.sidebarIconCont {
  display: flex;
  direction: ltr;
  width: 100%;
  height: 100%;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIconPreDiv {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIconPreDiv div.higherLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: rgba(19, 21, 28, 0.66) solid 10px;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(19, 21, 28, 0.64);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 140%;
  height: 140%;
  margin: -7px;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .hamRotate.active {
  transform: rotate(45deg);
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .hamRotate180.active {
  transform: rotate(180deg);
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #e8d8c3;
  stroke-width: 5.5%;
  stroke-linecap: round;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .ham4 .top {
  stroke-dasharray: 40% 121%;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .ham4 .bottom {
  stroke-dasharray: 40% 121%;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .ham4.active .top {
  stroke-dashoffset: -68%;
}
.mainPage .sidebarMainCont div.sidebarIconCont div.sidebarIcon .ham4.active .bottom {
  stroke-dashoffset: -68%;
}
.mainPage .sidebarMainCont div.sidebarCont {
  width: 0;
  height: 0;
  background-color: rgba(19, 21, 28, 0.7);
  backdrop-filter: blur(10px);
  z-index: 0;
  border-radius: 58% 0 59% 0/27% 6% 29% 45%;
  opacity: 0;
}

.mainPage .banner {
  width: 100%;
  height: 40vh;
  background-color: #e8d8c3;
}

.mainPage .bottomNavbar {
  /*   Initialized from Upstream   */
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: red;
}
body div.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-color: #e8d8c3;
  overflow: hidden;
}
body div.mainPage div.dynamicCont {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: url("../../Media/Images/banner/World Travel Wallpapers_YasDL.com (6).jpg");
}
body div.mainPage div.dynamicCont header {
  position: relative;
  width: 100%;
}
body div.mainPage div.dynamicCont header div.topNavbar { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont header div.banner { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont header div.scrollBrands { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main {
  height: 1000px;
}
body div.mainPage div.dynamicCont main div.productsCategori { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main div.amazingOffer { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main div.bestSelling { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main div.articles { /*   Initialized in its Own File   */ }
body div.mainPage .bottomNavbar {
  width: 100%;
  height: 10dvh;
  background-color: blue;
}

/*# sourceMappingURL=main.css.map */
