@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Vina+Sans&display=swap");
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Behdad";
  src: url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.woff2") format("woff2"), url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.woff") format("woff"), url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.ttf") format("truetype"), url("//cdn.font-store.ir/fonts/behdad/Behdad-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/*
font-family: 'Roboto', sans-serif;
font-family: 'Vina Sans', sans-serif;
*/
@keyframes fullScreen {
  to {
    width: 6000px;
    height: 6000px;
  }
}
@keyframes magnifierFont {
  to {
    font-size: 45px;
  }
}
@keyframes shrinkerFont {
  to {
    font-size: 20px;
  }
}
@keyframes opacity_to_one {
  to {
    opacity: 1;
  }
}
@keyframes opacity_to_ziro {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes open-sidebar-icon {
  to {
    border-bottom: none;
    border-radius: 100% 100% 0 0;
  }
}
@keyframes close-sidebar-icon {
  from {
    border-bottom: rgba(19, 21, 28, 0.7) solid 2px;
    border-radius: 100% 100% 0 0;
  }
  to {
    border: #e8d8c3 2px solid;
    border-radius: 100%;
  }
}
@keyframes open-sidebar-Cont {
  to {
    opacity: 1;
    width: 95vw;
    height: 85dvh;
  }
}
@keyframes close-sidebar-Cont {
  0% {
    width: 95vw;
    height: 85dvh;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
.mainPage .topNavbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7.5dvh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 1%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
}
.mainPage .topNavbar aside.sidebar { /*  Initialized in its Own File  */ }
.mainPage .topNavbar a.websiteLogo {
  width: 5dvh;
  height: 5dvh;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 4px;
}
.mainPage .topNavbar a.websiteLogo img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: green;
}
.mainPage .topNavbar div.profile { /*  Initialized in its Own File  */ }

.mainPage .mainContSidebar {
  width: 4.8vh;
  height: 65%;
  direction: rtl;
  margin-top: 1vh;
  margin-right: 1.7vw;
}
.mainPage .mainContSidebar .sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.mainPage .mainContSidebar .sidebar .sidebarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: #e8d8c3 2px solid;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(19, 21, 28, 0.7);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 140%;
  height: 140%;
  margin: -7px;
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .hamRotate.active {
  transform: rotate(45deg);
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .hamRotate180.active {
  transform: rotate(180deg);
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #e8d8c3;
  stroke-width: 5.5%;
  stroke-linecap: round;
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .ham4 .top {
  stroke-dasharray: 40% 121%;
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .ham4 .bottom {
  stroke-dasharray: 40% 121%;
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .ham4.active .top {
  stroke-dashoffset: -68%;
}
.mainPage .mainContSidebar .sidebar .sidebarIcon .ham4.active .bottom {
  stroke-dashoffset: -68%;
}
.mainPage .mainContSidebar div.sidebarCont {
  width: 0;
  height: 0;
  background-color: rgba(19, 21, 28, 0.7);
  backdrop-filter: blur(10px);
  z-index: 0;
  border-radius: 58% 0% 59% 0%/27% 6% 29% 45%;
  opacity: 0;
}

.mainPage .banner {
  width: 100%;
  height: 40vh;
  background-color: #e8d8c3;
}

.mainPage .bottomNavbar {
  /*   Initialized from Upstream   */
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: red;
}
body div.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-color: #e8d8c3;
  overflow: hidden;
}
body div.mainPage div.dynamicCont {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: url("../../Media/Images/banner/World Travel Wallpapers_YasDL.com (6).jpg");
}
body div.mainPage div.dynamicCont header {
  position: relative;
  width: 100%;
}
body div.mainPage div.dynamicCont header div.topNavbar { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont header div.banner { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont header div.scrollBrands { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main {
  height: 1000px;
}
body div.mainPage div.dynamicCont main div.productsCategori { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main div.amazingOffer { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main div.bestSelling { /*   Initialized in its Own File   */ }
body div.mainPage div.dynamicCont main div.articles { /*   Initialized in its Own File   */ }
body div.mainPage .bottomNavbar {
  width: 100%;
  height: 10dvh;
  background-color: blue;
}

/*# sourceMappingURL=main.css.map */
