//  ******  global files  ******
@import "ResetStyles";
@import "Fonts";
@import "ColorPalettes";
@import "KeyFrames";
@import "Mixins";
//  ******   mainPage   files  ******
@import "../mainPage/topNavbar";                       //  نوارپیمایش بالایی سایت
@import "../mainPage/sidebar";                         //  نوار کناری سایت
@import "../mainPage/banner";                          //  بنر سایت
@import "../mainPage/productsCategori";                //  دسته بندی محصولات
@import "../mainPage/amazingOffer";                    //  پیشنهاد شگفت انگیز
@import "../mainPage/bestSelling";                     //  پرفروش ترین ها
@import "../mainPage/articles";                        //  مقالات
@import "../mainPage/footer";                          //  پاورقی سایت
@import "../mainPage/bottomNavbar";                    //  نوارپیمایشی پایینی سایت
// -----------------------------------------------------------------------


body{
    width: 100vw;
    height: 100dvh;
    
    background-color: red;
    //-----------------------
    div.mainPage{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height: 100%;
        background-color: $color-light;
        overflow: hidden;
        //-------------------------
        div.dynamicCont{
            display: flex;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            background: url("../../Media/Images/banner/World Travel Wallpapers_YasDL.com (6).jpg");
            //-------------------------
            header{
                position: relative;
                width: 100%;
                //-------------------------
                div.topNavbar{/*   Initialized in its Own File   */}
                div.banner{/*   Initialized in its Own File   */}
                div.scrollBrands{/*   Initialized in its Own File   */}
                //-------------------------
            }
            main{
                height: 1000px;
                //-------------------------
                div.productsCategori{/*   Initialized in its Own File   */}
                div.amazingOffer{/*   Initialized in its Own File   */}
                div.bestSelling{/*   Initialized in its Own File   */}
                div.articles{/*   Initialized in its Own File   */}
                //-------------------------
            }
            footer{
                
                //-------------------------
                //-------------------------
            }
            //-------------------------
        }
        .bottomNavbar{
            width: 100%;
            height: 10dvh;
            background-color: blue;
        }

    }

}

