.mainPage .sidebar{
    width: 45px;
    height: 45px;

    
    
    //---------------------------------------
    div.sidebarIcon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        height: 80%;
        margin-top: 10px;
        margin-left: -6px;
        border: $color-light solid 2px;
        border-radius: 100%;
        padding: 7px;
        opacity: .8;
        
        
        .pip{
            width: 100%;
            height: 10%;
            background-color: $color-light;
            border-radius: 100px;
        }
        
        .middle-pip{
            display: none;
        }
        
        
        
        
        
    }
    div.sidebarCont{
    
    }
    //---------------------------------------
}